<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
</head>
<body>
    <h1>Hello, My name is Puoyy!</h1>
    <p>Nope you have a wonderful day!!!</p>
    <span th:text="${message}"></span>
</body>
</html>
